<div class="contents_wrapper">
  <div class="login_wrap text-center">
    <div class="panel panel-default visible-lg-inline-block
                                    visible-md-inline-block
                                    visible-sm-inline-block
                                    visible-xs-inline-block">
      <div class="panel-body">
        <%= image_tag "logo_other.png", class: "logo" %>
        <%= form_with(scope: :session, url: sessions_path, local: true, class: "login_form") do |f| %>
          <p><%= f.email_field :email, :placeholder => I18n.t("activerecord.attributes.user.email") %></p>
          <p><%= f.password_field :password, :placeholder => I18n.t("activerecord.attributes.user.password") %></p>
          <%= f.submit "ログイン", class: "btn btn-info" %>
        <% end %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key} text-danger") %>
        <% end %>
      </div>
    </div><br>
    <div class="panel panel-default visible-lg-inline-block
                                    visible-md-inline-block
                                    visible-sm-inline-block
                                    visible-xs-inline-block">
      <div class="panel-body login_btn">
        アカウントをお持ちではないですか？
        <%= link_to "登録", new_user_path %>
      </div>
    </div>
  </div>
</div>
