<div class="top_wrapper">
  <div class="signup_wrap text-center">
    <div class="panel panel-default visible-lg-inline-block
                                    visible-md-inline-block
                                    visible-sm-inline-block
                                    visible-xs-inline-block">
      <div class="panel-body">
        <%= image_tag "logo_other.png", class: "logo" %>
        <% if @user.errors.any? %>
          <div id="error_explanation" class="text-danger">
            <h3><%= @user.errors.count %> 件のエラー <%= @user.name %> 下記理由</h3>
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_with(model: @user, local: true, class: "signup_form") do |f| %>
          <p><%= f.text_field :name, :placeholder => I18n.t("activerecord.attributes.user.name") %></p>
          <p><%= f.email_field :email, :placeholder => I18n.t("activerecord.attributes.user.email") %></p>
          <p><%= f.password_field :password, :placeholder => I18n.t("activerecord.attributes.user.password") %></p>
          <p><%= f.password_field :password_confirmation, :placeholder => I18n.t("activerecord.attributes.user.password_confirmation") %></p>
          <p>
            <%= f.label :user_image %>
            <%= f.file_field :user_image%>
          </p>
          <%= f.submit class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
