<h1><%= @user.name %>のお気に入り</h1>
<% @user.favorite_pictures.each do |picture| %>
  <p>
    <%=image_tag picture.user.user_image.thumb.url %>
    <%= picture.user.name %>
  </p>
  <p><%=image_tag picture.image.thumb.url %></p>
  <p><%= picture.content %></p>
  <p>
    <%= link_to 'Show', picture %>
  </p>
<% end %>
