<div class="text-center">
  <h1><%= @user.name %></h1>
  <p><%= image_tag @user.user_image.show_icon.url, class: "icon" %></p>
  <p><%= I18n.t("activerecord.attributes.user.email") %> : <%= @user.email %></p>
  <%= link_to I18n.t("activerecord.attributes.favorite.favorite_index"), "/users/#{@user.id}/favorites" %>
  <%= link_to I18n.t("helpers.submit.edit"), edit_user_path(@user.id) %>
</div>
