<h2 class="text-center">以下の内容で投稿しますか？</h2>
<div class="user_post panel panel-defailt panel_center">
  <div class="post_contents panel-body">
      <div class="panel-heading">
        <%=image_tag current_user.user_image.thumb.url, class: "icon" %>
        <%= current_user.name %>
      </div>
    <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
      <%= image_tag(@picture.image.url, class: "confirm_image") if @picture.image && @picture.image.url %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :content %>
      <p><%= @picture.content %></p>
      <div class="confirm_btn_field"><%= form.submit "投稿する", class: "confirm_btn" %></div>
    <% end %>
    <%= form_with(model:@picture, url:new_picture_path, local:true, method:"get") do |form| %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :content %>
      <div class="confirm_btn_field"><%= form.submit "戻る", name: "back", class: "confirm_btn" %></div>
    <% end %>
  </div>
</div>
