<h1>Pictures</h1>
    <% @pictures.each do |picture| %>
      <p>
        <%=image_tag picture.user.user_image.thumb.url %>
        <%= picture.user.name %>
      </p>
      <p><%=image_tag picture.image.thumb.url %></p>
      <p><%= picture.content %></p>
      <p><%= picture.created_at %></p>
      <p>
        <%= link_to 'Show', picture %>
        <%= link_to 'Edit', edit_picture_path(picture) if @current_user == picture.user %>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } if @current_user == picture.user%>
      </p>
    <% end %>
<br>
<%= link_to 'New Picture', new_picture_path %>
